<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.woundmontoringapplicationv1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_design2"
        android:label="Wound Montoring Application V1"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomWMAStyle">
        <activity android:name=".RegisteredDressingsActivity"></activity>
        <activity android:name=".HistoryActivity" />
        <activity android:name=".OpenCVColorAnalysisActivity" />
        <activity android:name=".AnalysisSubmissionActivity" />

        <receiver android:name=".AlertReceiver" />

        <activity android:name=".RegisterDressingActivity" />
        <activity android:name=".RemindersActivity" />
        <activity android:name=".ProcessImageActivity" />
        <activity android:name=".CaptureImageActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>